/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 36px;
}

.more {
    background-color: transparent;
    border: none;
    height: 25px;
    margin: 19px 19px 0px 19px;
    width: 25px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-bottom-sheet {
    background: transparent;
    overflow: hidden;

    &:before {
        content: '';
        background: rgba(232, 232, 232, 0.81);
        position: absolute;
        top: -20px;
        bottom: -20px;
        right: -20px;
        left: -20px;
        -webkit-filter: blur(8px) contrast(0.4) brightness(1.4);
    }
}

md-input-container label {
    text-shadow: none;
}

md-toolbar {
    min-height: 0;
    max-height: 48px;
    height: 48px;
}
.md-tab.md-active span {
    color: white;
}

/* Sidenav area */

md-list-item > button {
    width: 100%;
    text-align: left !important;
    height: 70px;
}

md-icon.avatar {
    margin-right: 20px;
}

md-list .md-button.selected {
    color: #03a9f4;
}

button#main {
    margin-bottom: 0px;
}

md-sidenav > md-toolbar {
    height: 64px;
}

md-list-item {
    overflow: hidden;
}


/* Primary content area */

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    .md-button.contact {
        background-color: transparent;
        border: none;
        width: 48px;
        height: 48px;
        margin: 8px auto 16px 0;
        position: absolute;
        top: 10px;
        right: 40px;
    }
    md-icon.avatar {
        margin-top: 10px;
    }
    .md-button.contact {
        > md-icon {
            fill: black;
            width: 36px;
            height: 36px;
        }
        &:active > md-icon {
            background-color: #dadada;
            border-radius: 75%;
            padding: 4px;
            transition: all 100ms ease-out 30ms;
        }
    }
}


/* Utils */


/* Typography support coming in 0.8.0 */

.avatar {
    position: relative;
    width: 54px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
}

md-menu-content {
    background-color: #324556;
    color: white;
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

#console {
    box-shadow: (-9px) 0px 6px -6px rgba(0, 0, 0, 0.19);
}

.ace_content {
    background-color: rgb(28, 49, 68);
}

@media (max-width: 600px) {
    #console {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.19);
    }
}
