<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Lightning</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="style/style.css" />
    <style type="text/css">
    /**
         * Hide when Angular is not yet loaded and initialized
         */

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body ng-app="app" layout="row" ng-controller="ConnectionsController" ng-cloak>
    <!-- <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="ul.toggleList()" aria-label="Show User List"
      md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>History</h3>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="it in ul.users">
          <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{it.name}}
          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav> -->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-click="toggleHistory()" aria-label="Show History" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-whiteframe-z1">
            <h3>History</h3>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="it in connections">
                <!-- <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }"> -->
                <!-- <md-button> -->
                <!-- <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon> -->
                <!-- {{it.name}} -->
                <!-- </md-button> -->
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button id="main" class="menu" hide-gt-sm ng-click="toggleHistory()" aria-label="Show History">
                <md-icon md-svg-icon="history"></md-icon>
            </md-button>
            <div layout="column" flex>
                <md-tabs md-selected="tabs.selectedIndex" md-autoselect layout="column" flex>
                    <md-tab ng-repeat="connection in connections" id="tab{{$index}}" flex aria-controls="tab{{$index}}-content">{{connection.url}}</md-tab>
                </md-tabs>
            </div>
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-svg-icon="more_vert_white"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="showListBottomSheet()">
                            <div layout="row">
                                <p flex>Add New Connection</p>
                                <md-icon md-menu-align-target md-svg-icon="flash_on_white" style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <div layout="row">
                                <p flex>Change Theme</p>
                                <md-icon md-menu-align-target md-svg-icon="palette_white" style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
        <md-content flex id="content" layout="column">
            <ng-view flex ng-repeat="connection in connections" ng-show="$index == tabs.selectedIndex" role="tabpanel" id="tab{{$index}}-content" aria-labelledby="tab{{$index}}" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()" layout="row" layout-xs="column">
                <div flex>
                    This will be where we track and send events index: {{$index}}
                </div>
                <div id="console" ui-ace="{useWrapMode : true,
            theme:'monokai',
            advanced: {
            highlightActiveLine: false,
            highlightGutterLine: false},
            showGutter:false
          }" readonly flex>
                    This will be the console.
                </div>
            </ng-view flex>
        </md-content>
    </div>
    <script src="node_modules/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/pouchdb/dist/pouchdb.min.js"></script>
    <script src="node_modules/angular-pouchdb/dist/angular-pouchdb.min.js"></script>
    <script src="node_modules/angular-ui-ace/src/ui-ace.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</body>

</html>
