<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Lightning</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="style/style.css" />
    <style type="text/css">
    /**
         * Hide when Angular is not yet loaded and initialized
         */

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body ng-app="app" layout="row" ng-controller="ConnectionsController" ng-cloak class="light-theme">
    <!-- <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="ul.toggleList()" aria-label="Show User List"
      md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>History</h3>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="it in ul.users">
          <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{it.name}}
          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav> -->
    <md-sidenav ng-show="connections.length" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-click="toggleHistory()" aria-label="Show History" md-is-locked-open="$mdMedia('gt-sm')" layout="column" style="display: flex; flex-flow: column; height: 100%;">
        <md-toolbar class="md-whiteframe-z1">
            <h3>History</h3>
        </md-toolbar>
        <md-list style="min-height: 0; flex: 1; overflow: auto;">
            <md-list-item ng-repeat="outgoingHistoryObject in connections[tabs.selectedIndex].outgoingHistory" ng-click="setMsg(outgoingHistoryObject)">
                <!-- <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }"> -->
                <!-- <md-button> -->
                <!-- <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon> -->
                <!-- {{it.name}} -->
                <!-- </md-button> -->
                <div class="md-list-item-text" layout="column">
                  <div layout="row">
                    <div class="LHS">
                      <h4>{{ outgoingHistoryObject.event }}</h4>
                    </div>
                    <div class="RHS">
                      <h5>{{ outgoingHistoryObject.sentAt }}</h5>
                    </div>
                  </div>
                  <p class="code">{{ outgoingHistoryObject.msg }}</p>
                </div>
            </md-list-item>
            <md-list-item ng-show="!connections[tabs.selectedIndex].outgoingHistory.length">
              No History
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div ng-show="connections.length" flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" style="display: flex; flex-flow: column; height: 100%;">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button id="main" class="menu" hide-gt-sm ng-click="toggleHistory()" aria-label="Show History">
                <md-icon md-svg-icon="history"></md-icon>
            </md-button>
            <div layout="column" flex id="tabs-div">
                <md-tabs md-selected="tabs.selectedIndex" md-autoselect layout="column" flex>
                    <md-tab ng-repeat="connection in connections" id="tab{{$index}}" flex aria-controls="tab{{$index}}-content" class="connection-tabs">
                      <div layout="row" ng-mouseover="hoverIn($index)" ng-mouseleave="hoverOut($index)">
                        <h3 flex>
                          {{connection.url}}
                        </h3>
                        <md-button class="md-icon-button" aria-label="Close" ng-click="remove($index, $event)" ng-show="tabs.hovered[$index]" ng-animate="'box'"> <!-- ng-show="tabs.hovered[$index]" -->
                          <md-icon class="close" md-svg-icon="assets/svg/ic_close_white_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Connected" ng-click="" ng-show="!tabs.hovered[$index] && sockets[$index].connected" ng-animate="'box'">
                          <div class="circle green"></div>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Disconnected" ng-click="" ng-show="!tabs.hovered[$index] && !sockets[$index].connected" ng-animate="'box'">
                          <div class="circle red"></div>
                        </md-button>
                      </div>
                    </md-tab>
                </md-tabs>
            </div>
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-svg-icon="more_vert_white"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="showListBottomSheet()">
                            <div layout="row">
                                <p flex>Add New Connection</p>
                                <md-icon md-menu-align-target md-svg-icon="flash_on_white" style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <div layout="row">
                                <p flex>Change Theme</p>
                                <md-icon md-menu-align-target md-svg-icon="palette_white" style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
        <md-content flex id="content" layout="column">
            <ng-view flex ng-repeat="connection in connections" ng-show="$index == tabs.selectedIndex" role="tabpanel" id="tab{{$index}}-content" aria-labelledby="tab{{$index}}" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()" layout="row" layout-xs="column" ng-init="connectionIndex = $index">
                <div flex="60" layout="column" class="connectionInput">
                    <!-- <div>This will be where we track and send events index: {{$index}} other index: {{tabs.selectedIndex}}</div> -->
                    <h6>Listening for</h6>
                    <md-chips
                      ng-model="connection.trackedEvents"
                      placeholder="Type event name and press enter"
                      delete-button-label="Remove Event"
                      delete-hint="Press delete to remove event"
                      secondary-placeholder="+ event"
                      md-on-add="addEvent($chip, connectionIndex)"
                      md-on-remove="removeEvent($chip, connectionIndex)">
                    </md-chips>
                    <div class="sendMessageArea" layout="column">
                      <h6>Send message<h6>
                      <md-input-container class="md-block" flex-gt-sm md-no-float>
                        <input ng-model="connection.currentMsgEvent" placeholder="EVENT NAME">
                      </md-input-container>
                    </div>
                      <div ui-ace="{
                        theme:'pastel_on_dark',
                        mode: 'json',
                        useWrapMode : true
                }"flex ng-model="connection.currentMsgBody">
                      </div>
                    <md-button class="btn1 md-raised" ng-click="sendMessage(connection.currentMsgEvent, connection.currentMsgBody, $index);"> Send </md-button>
                </div>
                <div flex="40" ng-scroll-bottom="connection.incomingHistory" style="min-height: 0; overflow: auto;">
                    <div ng-repeat="history in connection.incomingHistory">
                      <md-card>
                        <!-- {{history}} -->
                        <md-card-title>
                          <md-card-title-text>
                            <div layout="row">
                              <div class="LHS">
                                <h4 class="md-headline">{{history.event}}</h4>
                              </div>
                              <div class="RHS">
                                <h5 class="ng-binding">{{history.receivedAt}}</h5>
                              </div>
                            </div>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                          <pre style="overflow-x:scroll; padding:10px 0;">{{format(history.msg)}}</pre>
                        </md-card-content>
                      </md-card>
                    </div>
                </div>
            </ng-view flex>
        </md-content>
    </div>

    <div flex ng-show="!connections.length" class="welcomeScreen">
      <div layout="row" layout-align="center end">
        <h1>Project Lightning</h1>
        <!-- <md-icon md-menu-align-target md-svg-icon="flash_on_white" style="margin: auto 3px auto 0;"></md-icon> -->
      </div>

      <div layout="row" layout-align="center top">
        <md-button ng-click="showListBottomSheet()">
          <h4>Add your first connection</h4>
        </md-button>
      </div>
    </div>
    <script src="../node_modules/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/pouchdb/dist/pouchdb.min.js"></script>
    <script src="../node_modules/angular-pouchdb/dist/angular-pouchdb.min.js"></script>
    <script src="../node_modules/angular-ui-ace/src/ui-ace.js"></script>
    <script src="js/libs/socket.io.min.js"></script>
    <script src="../node_modules/angular-socket-io/socket.min.js"></script>
    <script src="js/libs/linkify.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
</body>

</html>
